.zoom-box {
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;
}

.zoom-box:hover {
    cursor: pointer;
	-webkit-transform: scale(1.5);
    transform: scale(1.2);
}

.img-comic {
	width: 100%;
	height: 300px;
	object-fit: contain;
	object-position: center;
}